<!DOCTYPE=html>
<html lang="en">
	<title>HomePage</title>
	<head>
		<link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
		<link rel="stylesheet" href="{{ url_for('static', filename='common.css') }}">
	</head>
	<body>
		<header>
			<button class="full-width"><h1>Members</h1></button>
			<button class="full-width"><h1>Contributions</h1></button>
			<button class="full-width"><h1>Landing Page</h1></button>
			<button class="full-width"><h1>Contact Us</h1></button>
		</header>
		<footer>
			God's Kingdom, Our Priority
		</footer>
	</body>
</html>
