<!DOCTYPE=html>
<html lang="en">
	<head>
		<title>Forms</title>
		<link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
		<link rel="stylesheet" href="{{ url_for('static', filename='common.css') }}">

	</head>
	
	<body>
		<header>
			<button class="full-width"><h1>Members</h1></button>
			<button class="full-width"><h1>Contributions</h1></button>
			<button class="full-width"><h1>Landing Page</h1></button>
			<button class="full-width"><h1>Contact Us></h1></button>
		</header>
		<h1>Add Member</h1>
		<form>
			<label for="firstname">First Name</label>
			<input type="text" id="firstname"><br><br>
			<label for="lastname">Last Name</label>
			<input type="text" id="lastname"><br><br>
			<label for="contact"> Contact</label>
			<input type="numbers" id="contact"><br><br>
			<label for "location">Location</label>
			<input type="text" id="location"><br><br>
			<label for="country">Country</label>
			<input type="text" id="country"><br><br>
			<input type="submit" value="Add Member">
		</form>
		<footer>
			God's Kingdom, Our Priority
		</footer>
	</body>

</html>
