<!DOCTYPE=html>
<html lang="en">
	<head>
		<title>HomePage</title>
		<link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
		<link rel="stylesheet" href="{{ url_for('static', filename='common.css') }}">
		<link rel="icon" href="/image/logo.jpg" type="/image/x-icon">
		<link rel="background" href="/image/background.jpg" type="/image/background">
	</head>
	<body>
		<header>
				<a href="/"><h2><button class="link">Potters' Queue</button></h2></a>
				<a href="/login"><h2><button class="link">Members</button></h2></a>
				<a href="/contributions"><h2><button class="link">Contributions</button></h2></a>
				<a href="/landing_page"><h2><button class="link">Landing page</button></h2></a>
				<a href="/log_out"><h2><button class="link">Log Out</button></h2></a>
				<a href="/forgotten"><h2><button class="link">Forgotten Password</button></h2></a>
		</header>
		<footer>
			<p>God's Kingdom, Our Priority</p>
		</footer>
	</body>
</html>
